# Ignore Docker volumes and system files
db_data/
*.log
*.tmp
node_modules/
vendor/
.env
.DS_Store

# Ignore large files and backups
database/
*.sql
*.zip
*.tar
*.gz
*.env

# WordPress specific
wp-config.php
wp-content/uploads/
wp-content/cache/
